{% extends 'base.html.twig' %}
{#
{% block title %}{% endblock %}

{% block body %}
<div class="row">


     <string>   <div  style="display: flex;align-items: center;justify-content: center;margin-top:-90px; padding:50px; font-weight: 900;position:relative ; left:300px;  "> </string>

          <div class="card">
 <div class="card-body">
              <h5 class=""  style= "color:blue ;display: flex; align-items: center; justify-content: center; padding-bottom:30px; font-weight: 900">Add Reclamation</h5>
   
    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
    </div>
        </div>
</div>
    </div>

{% endblock %}#}
{% block title %}Ajouter Reclamation{% endblock %}
{% block slider %}{% endblock %}
{% block newR %}
<div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Ajouter Une Reclamation</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                    {{ form_start(form) }}
                       <form method="POST" action="#"  class="contact-form">	
                          <div class="row">
	                          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.nom) }}
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                               </div>
                               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.prenom) }}
                                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.prenom) }}
                                </div>
                               </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.adresse) }}
                                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.adresse) }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.contenu) }}
                                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }} 
                                    {{ form_errors(form.contenu) }}                       	
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                            </div>
                         </div>
                     </form>
                      {{ form_end(form) }}
                    </div>
               	</div>
            </div>
        </div>
       
    </div>
{% endblock %}
{% block newsletter %}{% endblock %}
