{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Liste des réparations</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description_Panne</th>
            <th>Etat</th>
            <th>Date_rep</th>
            <th>Date_declaration</th>
            <th>Date_recuperation</th>
            <th>Id_Vehicule</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reparation in reparations %}
            <tr>
                <td>{{ reparation.id }}</td>
                <td>{{ reparation.DescriptionPanne }}</td>
                <td>{{ reparation.Etat }}</td>
                <td>{{ reparation.DateRep ? reparation.DateRep|date('Y-m-d') : '' }}</td>
                <td>{{ reparation.DateDeclaration ? reparation.DateDeclaration|date('Y-m-d') : '' }}</td>
                <td>{{ reparation.DateRecuperation ? reparation.DateRecuperation|date('Y-m-d') : '' }}</td>
                <td>{{ reparation.IdVeh }}</td>
                <td>
                    <a href="{{ path('app_reparation_show', {'id': reparation.id}) }}">Voir</a>
                    <a href="{{ path('app_reparation_edit', {'id': reparation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reparation_new') }}">Ajouter une réparation</a>
{% endblock %}
